<h1> <%=@sub.title %></h1>


<%= link_to 'edit sub', edit_sub_url(@sub) %>

<ul>
  <% @posts.each do |post| %>
  <li>
    <a href="<%= post_url(post) %>"><%= post.title %></a>
  </li>
  <% end %>
</ul>



<%= link_to 'all subs', subs_url %>
<%= link_to 'new post', new_post_url %>

